*{
    margin: 0;
    padding: 0;
}

main{
    background-color: hsl(0, 100%, 74%);
    width: 1440px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* padding: 15em; */
}